<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-white border-bottom">
  <a class="navbar-brand" href="#">
    <img src="/photo/logo3.jpg" alt="vfbsac logo" width="300" height="50" decoding="async" original-font-size="15px" original-border-color="rgb(59, 154, 215)" original-background-color="rgba(0, 0, 0, 0)" original-background-image="none" original-color="rgb(59, 154, 215)" original-box-shadow="none" original-text-shadow="none" original-font-family="sans-serif" original-letter-spacing="0" original-line-height="24px">
  </a>

  <div class="navbar-nav ml-auto">
    <th:block th:if="${person}">
    <a class="nav-link" href="/lessons" style="color:#000000">Предметы</a>
    <a class="nav-link" href="/teachers" style="color:#000000">Преподаватели</a>
    <a class="nav-link" href="/groups" style="color:#000000">Группы</a>
    </th:block>
    <a class="nav-link" href="/search" style="color:#000000">Поиск</a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
        Профиль
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <th:block th:if="${person}">
          <form th:action="@{/logout}" method="POST">
            <input class="dropdown-item" type="submit" value="Выйти"/>
          </form>
        </th:block>
        <th:block th:if="${person==null}">
          <a class="nav-link" th:href="@{/login}" style="color:#000000">Войти</a>
        </th:block>
      </div>
    </li>
  </div>
</nav>
<div class="container mt-5">
  <label for="query" class="form-label" style="font-size: 18px;">Введите интересующую группу или преподавателя:</label>

  <form th:method="POST" th:action="@{/search}" class="mb-4">
    <div class="input-group">
      <input type="text" id="query" name="query" class="form-control" placeholder="Search" />
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div th:if="${not #lists.isEmpty(groups)}">
    <h2>Группы:</h2>
    <ul class="list-group">
      <li th:each="group : ${groups}" class="list-group-item">
        <a th:href="@{groups/{id}(id=${group.getId()})}" th:text="${group.groupName}">group</a>
      </li>
    </ul>
  </div>

  <div th:if="${not #lists.isEmpty(teachers)}">
    <h2>Преподаватели:</h2>
    <ul class="list-group">
      <li th:each="teacher: ${teachers}" class="list-group-item">
        <a th:href="@{teachers/{id}(id=${teacher.getId()})}" th:text="${teacher.getTeacherName()}">teacher</a>
      </li>
    </ul>
  </div>


</div>
<!-- Подключаем скрипты Bootstrap (необходимы для работы некоторых компонентов) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>