<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/groups/{id}(id=${group.getId()})}" th:object="${group}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{groupName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">groupName Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>