<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/groups}" th:object="${group}">
    <label for="name">Введите новую группу: </label>
    <input type="text" th:field="*{groupName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">groupName Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>