<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-white border-bottom">
  <a class="navbar-brand" href="#">
    <img src="/photo/logo3.jpg" alt="vfbsac logo" width="300" height="50" decoding="async" original-font-size="15px" original-border-color="rgb(59, 154, 215)" original-background-color="rgba(0, 0, 0, 0)" original-background-image="none" original-color="rgb(59, 154, 215)" original-box-shadow="none" original-text-shadow="none" original-font-family="sans-serif" original-letter-spacing="0" original-line-height="24px">
  </a>

  <div class="navbar-nav ml-auto">
    <th:block th:if="${person}">
      <a class="nav-link" href="/lessons" style="color:#000000">Предметы</a>
      <a class="nav-link" href="/teachers" style="color:#000000">Преподаватели</a>
      <a class="nav-link" href="/groups" style="color:#000000">Группы</a>
    </th:block>
    <a class="nav-link" href="/search" style="color:#000000">Поиск</a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
        Профиль
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <th:block th:if="${person}">
          <form th:action="@{/logout}" method="POST">
            <input class="dropdown-item" type="submit" value="Выйти"/>
          </form>
        </th:block>
        <th:block th:if="${person==null}">
          <a class="nav-link" th:href="@{/login}" style="color:#000000">Войти</a>
        </th:block>
      </div>
    </li>
  </div>
</nav>

<div class="container mt-3">
  <h2>Добавление расписания для преподавателя</h2>
  <form th:method="PATCH" th:action="@{/schedulesTeacher/add/{id}(id=${scheduleTeacher.getId()})}" th:object="${scheduleTeacher}">    <input type="hidden" name="teacherId" th:value="${teacher.getId()}" />
    <input type="hidden" name="teacherId" th:value="${teacher.getId()}" />
    <input type="hidden" name="para.id" th:value="${scheduleTeacher.para?.id}" />
    <input type="hidden" name="day.id" th:value="${scheduleTeacher.day?.id}" />
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Пара</th>
        <th>Предмет</th>
        <th>Группа</th>
        <th>Аудитория</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${scheduleTeacher.para?.paraNumber}"></td>
        <td>
          <select id="lesson" class="form-control" th:field="*{lesson.id}">
            <option th:each="lesson : ${lessons}" th:value="${lesson.id}" th:text="${lesson.lessonName}"></option>
          </select>
        </td>
        <td>
          <select id="group" class="form-control" th:field="*{group.id}">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.groupName}"></option>
          </select>
        </td>
        <td>
          <select id="audience" class="form-control" th:field="*{audience.id}">
            <option th:each="audience : ${audiences}" th:value="${audience.id}" th:text="${audience.getAudienceNumber()}"></option>
          </select>
        </td>
        <td th:text="${scheduleTeacher.day.dayName}" style="writing-mode: vertical-rl; text-align: center;"></td>
      </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Добавить расписание</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>