<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

    <div align="center" >
    <form th:method="PATCH" th:action="@{/schedulesTeacher/edit/{id}(id=${scheduleTeacher.getId()})}" th:object="${scheduleTeacher}">
        <input type="hidden" name="teacherId" th:value="${teacher.getId()}" />
        <input type="hidden" name="para.id" th:value="${scheduleTeacher.para?.id}" />
        <input type="hidden" name="day.id" th:value="${scheduleTeacher.day?.id}" />

        <p th:text="${teacher.teacherName}" ></p>
        <table border="1">
            <thead>
            <tr>
                <th>Пара</th>
                <th>Предмет</th>
                <th>Группа</th>
                <th>Аудитория</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${scheduleTeacher.para?.paraNumber}"></td>
                <td>
                    <select id="lesson" th:field="*{lesson.id}">
                        <option th:each="lesson : ${lessons}" th:value="${lesson.id}" th:text="${lesson.lessonName}">
                        </option>
                    </select>
                </td>

                <td>  <select id="group" th:field="*{group.id}">
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.groupName}">
                    </option>
                </select>
                </td>

                <td>  <select id="audience" th:field="*{audience.id}">
                    <option th:each="audience : ${audiences}"
                            th:value="${audience.id}"
                            th:text="${audience.getAudienceNumber()}">
                    </option>
                </select>
                </td>



                <td  th:text="${scheduleTeacher.day.dayName}"
                    style="writing-mode: vertical-rl; text-align: center;">
                </td>
            </tr>
            </tbody>
        </table>



    <input type="submit" value="Update!"/>

    </form>
</div>

</body>
</html>